{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Containers{% endblock %}</h1>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for container in data %}
                <tr>
                    {% for column in columns %}
                        <td>{{ container[column] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}